{% extends 'base.html.twig' %}

{% block title %}{{ "team.title" | trans({'%team_name%': team.name}) | capitalize }}{% endblock %}

{% block body %}
    <!-- Work -->
    <article id="work" class="wrapper style1" style="padding-top: 0.5em">
        <div class="container">
            <header>
                <p>{{ "team.action.update" | trans({'%team_name%': team.name}) | capitalize }}</p>
                <p>{{ "team.messages.content_1" | trans | capitalize }}</p>
                <p>{{ "team.messages.content_2" | trans | capitalize }}</p>
            </header>
            <div class="row aln-center">
                {{ include('team/_form.html.twig') }}
            </div>
            <footer>
                <a href="{{ path('team_index') }}"
                   class="button large scrolly">{{ "action.back" | trans | capitalize }}</a>
            </footer>
        </div>
    </article>

{% endblock %}
