{% extends 'base.html.twig' %}

{% block title %}{{ "team.action.list" | trans | capitalize }}{% endblock %}

{% block body %}
    <!-- Work -->
    <article id="work" class="wrapper style1" style="padding-top: 0.5em">
        <div class="container">
            <header>
                <p>{{ "team.action.list" | trans | capitalize }}</p>
                <p>{{ "team.messages.content_1" | trans | capitalize }}</p>
                <p>{{ "team.messages.content_2" | trans | capitalize }}</p>
            </header>
            <div class="row aln-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th><b>{{ "team.field.name" | trans | capitalize }}</b></th>
                        <th><b>{{ "team.field.email" | trans | capitalize }}</b></th>
                        <th><b>{{ "team.field.avatar" | trans | capitalize }}</b></th>
                        <th><b>{{ "action.actions" | trans | capitalize }}</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>{{ team.email }}</td>
                            <td><img src="{{ team.avatar }}" style="width: 100px;"></td>
                            <td>
                                <a href="{{ path('team_show', {'id': team.id}) }}">{{ "action.show" | trans | capitalize }}</a>
                                <a href="{{ path('team_edit', {'id': team.id}) }}">{{ "action.update" | trans | capitalize }}</a>
                                <a href="{{ path('label_index', {'id': team.id}) }}">{{ "label.labels.labels" | trans | capitalize }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">{{ "error.no_records" | trans | capitalize }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <footer>
                <a href="{{ path('team_new') }}" class="button large scrolly">{{ "team.action.create" | trans | capitalize }}</a>
            </footer>
        </div>
    </article>
{% endblock %}
