{% extends 'base.html.twig' %}

{% block title %}{{ "balancetamr.label" | trans | capitalize }}{% endblock %}

{% block body %}
    <!-- Portfolio -->
    <article id="portfolio" class="wrapper style3" style="padding-top: 1.5em">
        <div class="container">
            <header>
                <h2>{{ "team.messages.choose_team" | trans | capitalize }}</h2>
                <p>{{ "mr.description" | trans | capitalize }}</p>
            </header>
            <div class="row">
                {% for team in teams %}
                    <div class="col-4 col-6-medium col-12-small">
                        <article class="box style2">
                            <a href="{{ path('mrs_list_by_team', {'id': team.id }) }}" class="image featured">
                                <img src="{% if team.avatar %}{{ team.avatar }}{% else %}https://picsum.photos/200{% endif %}" alt="" />
                            </a>
                            <h3><a href="#">{{ team.name|e }}</a></h3>
                            <p>{{ team.email|e }}</p>
                        </article>
                    </div>
                {% endfor %}
            </div>
            <footer>
                <p>{{ "team.messages.missing_team" | trans | capitalize }}</p>
                <a href="{{ path('team_index') }}" class="button large scrolly">{{ "team.action.create" | trans | capitalize }}</a>
            </footer>
        </div>
    </article>

{% endblock %}
