{% extends 'base.html.twig' %}

{% block title %}BalanceTaMR des projets{% endblock %}

{% block body %}
{#    <!-- Home -->#}
{#    <article id="top" class="wrapper style1">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-4 col-5-large col-12-medium">#}
{#                    <span class="image fit"><img src="images/pic00.jpg" alt="" /></span>#}
{#                </div>#}
{#                <div class="col-8 col-7-large col-12-medium">#}
{#                    <header>#}
{#                        <h1>Hi. I'm <strong>Jane Doe</strong>.</h1>#}
{#                    </header>#}
{#                    <p>And this is <strong>Miniport</strong>, a free, fully responsive HTML5 site template designed by <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net">HTML5 UP</a> &amp; released under the <a href="http://html5up.net/license">CCA license</a>.</p>#}
{#                    <a href="#work" class="button large scrolly">Learn about what I do</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </article>#}

    <!-- Portfolio -->
    <article id="portfolio" class="wrapper style3" style="padding-top: 1.5em">
        <div class="container">
            <header>
                <h2>Choissez votre équipe</h2>
                <p>La liste des Merge Request en attente de tous les projets de l'équipe seront alors affichés</p>
            </header>
            <div class="row">
                {% for team in teams %}
                    <div class="col-4 col-6-medium col-12-small">
                        <article class="box style2">
                            <a href="{{ path('mrs_list_by_team', {'id': team.id }) }}" class="image featured">
                                <img src="{% if team.avatar %}{{ team.avatar }}{% else %}https://picsum.photos/200{% endif %}" alt="" />
                            </a>
                            <h3><a href="#">{{ team.name|e }}</a></h3>
                            <p>{{ team.email|e }}</p>
                        </article>
                    </div>
                {% endfor %}
            </div>
            <footer>
                <p>Vous ne trouvez pas votre équipe ?</p>
                <a href="{{ path('team_index') }}" class="button large scrolly">Créez en une !</a>
            </footer>
        </div>
    </article>

{% endblock %}
