{% extends 'base.html.twig' %}

{% block title %}BalanceTaMR de la Team {{ team.name|e }}{% endblock %}
{% block meta %}
    <meta http-equiv="refresh" content="360">{% endblock %}

{% block body %}

    <!-- Work -->
    <article id="work" class="wrapper style2" style="padding-top: 0.5em">
        <div>
            <header>
                <h2>Team {{ team.name|e }}</h2>
            </header>
            <div class="row aln-center">
                {% for mr in mrs %}
                    <div class="col-2 col-6-medium col-12-small">
                        <a href="{{ mr.web_url }}" target="_blank" style="
                            font-family: 'Open Sans', sans-serif;
                            line-height: 1.85em;
                            color: #888;
                            font-weight: 300;
                            font-size: 13pt;
                            text-decoration: none;">
                            <section class="box style1" style="
                                    padding: 0.5em;
                                    border-top-width: 10px;
                                    border-style: solid;
                                    border-color: #{{ mr.merge_status == 'can_be_merged' ? "090" : "900" }}">
                                <svg class="img-circle" width="100px" height="100px" viewBox="0 0 100 100"
                                     style="margin: auto;    display: block;">
                                    <image width="80%" height="80%" xlink:href="{{ mr.author.avatar_url }}"
                                           style="clip-path: circle(50%);" alt="{{ mr.author.name }}"></image>
                                </svg>
                                <h3>{{ projects[mr.project_id].name }}</h3>
                                <p style="color: black; margin-bottom: 0.5em;">{{ mr.title|slice(0, 30) }}...</p>
                                <p style="margin-bottom: 0.5em;">{{ mr.author.name }}</p>
                                <div class="caption text-center"
                                     style="font-size: 36px;padding:0px;margin-bottom: 0.3em;">
                                    <b>{{ mr.upvotes }}</b><span style="color: green;">👍</span>
                                    <b>{{ mr.downvotes }}</b><span style="color: red;">👎</span>
                                    <b>{{ mr.user_notes_count }}</b><span>💬</span>
                                </div>
                                <!-- LABELS -->
                                {% for label in mr.labels %}
                                    <div class="github-label text-center ellipsis" title="bug"
                                         style="color: white; background: {{ label.color ?? '#ccc' }};">
                                        {{ label.name }}
                                    </div>
                                {% endfor %}
                            </section>
                        </a>
                    </div>

                {% endfor %}
            </div>
            <footer>
                <p>Il manque des projets ?</p>
                <a href="{{ path('team_edit', {'id': team.id}) }}" class="button large scrolly">Configurez votre
                    équipe</a>
            </footer>
        </div>
    </article>
{% endblock %}
