{% extends 'base.html.twig' %}

{% block title %}{{ "provider.action.update" | trans({'provider_name': provider.name}) | capitalize }}{% endblock %}

{% block body %}
    <!-- Work -->
    <article id="work" class="wrapper style1" style="padding-top: 0.5em">
        <div class="container">
            <header>
                <h2>{{ "provider.action.update" | trans({'provider_name': provider.name}) | capitalize }}</h2>
            </header>
            <div class="row aln-center">
                {{ include('provider/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
            <footer>
                <a href="{{ path('provider_index') }}" class="button large scrolly">{{ "action.back" | trans | capitalize }}</a>
                {{ include('provider/_delete_form.html.twig') }}
            </footer>
        </div>
    </article>
{% endblock %}
