{% extends 'base.html.twig' %}

{% block title %}{{ "provider.labels.labels" | trans | capitalize }}{% endblock %}

{% block body %}
    <!-- Work -->
    <article id="work" class="wrapper style1" style="padding-top: 0.5em">
        <div class="container">
            <header>
                <h2>{{ "provider.labels.labels" | trans | capitalize }}</h2>
            </header>
            <div class="row aln-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th><b>{{ "provider.field.id" | trans | capitalize }}</b></th>
                        <th><b>{{ "provider.field.name" | trans | capitalize }}</b></th>
                        <th><b>{{ "provider.field.url" | trans | capitalize }}</b></th>
                        <th><b>{{ "provider.field.token" | trans | capitalize }}</b></th>
                        <th><b>{{ "action.actions" | trans | capitalize }}</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for provider in providers %}
                        <tr>
                            <td>{{ provider.id }}</td>
                            <td>{{ provider.name }}</td>
                            <td>{{ provider.url }}</td>
                            <td>{{ provider.token }}</td>
                            <td>
                                <a href="{{ path('provider_show', {'id': provider.id}) }}">{{ "action.show" | trans | capitalize }}</a>
                                <a href="{{ path('provider_edit', {'id': provider.id}) }}">{{ "action.update" | trans | capitalize }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">{{ "error.no_records" | trans | capitalize }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <footer>
                <a href="{{ path('provider_new') }}"  class="button large scrolly">{{ "provider.action.create" | trans | capitalize }}</a>
            </footer>
        </div>
    </article>
{% endblock %}
