{% extends 'base.html.twig' %}

{% block title %}{{ "provider.labels.label" | trans | capitalize }}{% endblock %}

{% block body %}
    <!-- Work -->
    <article id="work" class="wrapper style1" style="padding-top: 0.5em">
        <div class="container">
            <header>
                <h2>{{ "provider.labels.label" | trans | capitalize }} {{ provider.name }}</h2>
            </header>
            <div class="row aln-center">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ "provider.field.id" | trans | capitalize }}</th>
                        <td>{{ provider.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ "provider.field.name" | trans | capitalize }}</th>
                        <td>{{ provider.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ "provider.field.url" | trans | capitalize }}</th>
                        <td>{{ provider.url }}</td>
                    </tr>
                    <tr>
                        <th>{{ "provider.field.token" | trans | capitalize }}</th>
                        <td>{{ provider.token[:4] }}...</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <footer>
                <a href="{{ path('provider_index') }}" class="button large scrolly">{{ "action.back" | trans | capitalize }}</a>
                <a href="{{ path('provider_edit', {'id': provider.id}) }}" class="button large scrolly">{{ "action.update" | trans | capitalize }}</a>
                {{ include('provider/_delete_form.html.twig') }}

            </footer>
        </div>
    </article>
{% endblock %}
