{% extends 'base.html.twig' %}

{% block title %}BalanceTaMR des labels de la team {{ team.name|e }}{% endblock %}

{% block body %}
    <!-- Work -->
    <article id="work" class="wrapper style1" style="padding-top: 0.5em">
        <div class="container">
            <header>
                <h2>Liste des Labels</h2>
                <p>Ici, filtrez la liste des MR avec des labels par projets. (Match les MR avec les labels [MODE=OU])</p>
                <p>Si rien n'est sélectionné, toutes les MR seront affichées</p>
                <p>Les MR sans labels seront tout le temps affichées</p>
            </header>
            <div class="row aln-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th><b>Team</b></th>
                        <th><b>Project</b></th>
                        <th><b>Code</b></th>
                        <th><b>actions</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for label in labels %}
                        <tr>
                            <td>{{ label.team.name }}</td>
                            <td>{{ formatToGitlabProject(label.project) }}</td>
                            <td>
                                {% for label in formatToGitlabLabel(label) %}
                                    <span style="padding:2px; background-color: {{ label.color }}">{{ label.name }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('label_edit', {'id': team.id, 'idLabel': label.id}) }}">edit</a>

                                {{ include('label/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <footer>
                <a href="{{ path('label_new', {'id': team.id}) }}" class="button large scrolly">Ajouter un label</a>
            </footer>
        </div>
    </article>
{% endblock %}
